# Dependencies cache
node_modules
.pnpm-store

# Next.js build cache (keep standalone and static)
.next/cache

# Git & IDE
.git
.gitignore
.idea
.vscode
*.log

# Local environment
.env.local
.env.*.local
